/* CDN Fonts */
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

/* CSS Variables */
:root {
  --font-ko-main: 'MaruBuri', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Chonburi', sans-serif;
  --color-primary: #faf9f5;
  --color-secondary: #535353;
}